:root {
    font-size: 16px;
    font-family: system-ui, -apple-system, sans-serif;

    --color-primary: hsl(245deg, 100%, 60%);
    --color-primary-blurred: hsla(245deg, 100%, 60%, 0.1);
    --color-background: hsl(0deg, 0%, 100%);
    --color-text: hsl(222deg, 22%, 5%);
    --color-gray-100: hsl(225deg, 25%, 95%);
    --color-gray-200: hsl(225deg, 16%, 90%);
}

students {
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;
    display: table;
    border-collapse: collapse;
    table-layout: auto;
    overflow-x: auto;
    width: 100%;
}

student {
    cursor: pointer;
    display: table-row;
    background: var(--color-background);
    border-bottom: 1px solid var(--color-gray-100);
    transition: all 150ms ease-in-out;
}

student:hover {
    background: var(--color-gray-100);
}

student:last-child {
    border-bottom: none;
}

usn,
name,
college,
branch,
year,
email {
    display: table-cell;
    text-align: left;
    padding: 0.75rem 1.5rem;
    color: var(--color-text);
}
